.mix
{
font-family: 'Crete Round';
font-size: 34px;
color: #060C31;
font-style: normal;
}

.one
{
width: 493px;
height: 192px;
margin-bottom: 36px;

font-family: 'Crete Round';
font-size: 54px;
color: #060C31;
letter-spacing: 2.9px;
line-height: 64px;
}

.second
{
width: 493px;
height: 84px;
margin-bottom: 48px;
}

.text
{
font-family: 'Lato';
font-size: 15px;
color: #060C31;
letter-spacing: 0.75px;
line-height: 28px;
font-style: normal;
font-weight: normal;
}

.one_button
{
 background: #233FE2;
 border-radius: 50px;
 border:none;
 flex-direction: row;
 align-items: center;
 width: 156px;
 height: 50px;

 color: #FFFFFF;
 font-family: Lato;
 font-size: 15px;
}

.two_button
{
 border: 1px solid #FFB0B1;
 border-radius: 50px;
 margin-left: 20px;
 width: 156px;
 height: 50px;
 
 font-family: Lato;
 font-style: normal;
 font-weight: bold;
 font-size: 15px;
 color: #060C31;
}

