.header {
    margin-top: 60px;
    margin-left: 88px;
    margin-right: 80px;
    vertical-align: middle;
}

.logo {
    font:  43px/34px 'Crete Round';
    color: #060C31;
    vertical-align: middle;
    display: inline-block;
}

.nav_menu {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.menu_link {
    display: inline-block;
    margin-right: 40px;
    vertical-align: middle;
    font: bold 13px/28px 'Lato';
    color: #060C31;
}

.main {
    margin-top: 67px;
    text-align: center;
}

.main_content {
    display: inline-block;
    vertical-align: top;
    margin-top: 100px;
    text-align: left;
}

.main_image {
    vertical-align: middle;
    display: inline-block;
    margin-left: -9px;
}

.title {
    width: 449px;
    height: 192px;
    margin-bottom: 42px;
    margin-top: 0;
    font: 58px/64px 'Crete Round';
    color: #060C31;
}


.text {
    font: 15px/28px 'Lato';
    color: #060C31;
    letter-spacing: 0.75px;
    width: 436px;
    height: 84px;
    margin-bottom: 76px;
}

.button {
    border-radius: 50px;
    font: bold 15px 'Lato';
}

.button.button_blue {
    background: #233FE2;
    border: none;
    color: #FFFFFF;
    margin-right: 20px;
    padding: 16px 36px 16px 36px;
}

.button.button_light {
    border: 1px solid #FFB0B1;
    padding: 16px 36px 16px 36px;
}

.footer {
    margin-top: 104px;
    float: right;
}

.footer_logo {
    vertical-align: middle;
    margin-right: 100px;
}


